[package]
name = "mail-decoder"
version = "0.3.2"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
memchr = { workspace = true }
