# Copy this file to .env
BIND_ADDR=0.0.0.0:8001
MONGODB_URI=mongodb://localhost:27017/rokbattles
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3000/proxy/v1/auth/discord/callback
DNS_CHECK_SECRET=

# Optional
SENTRY_DSN=
