@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-inter), system-ui;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
